$yellow: #f5a03d;
$blue: #501de2;
$red: #D81698;
$green: #1bd685;
$black: #0a0a1f;
$dark-grey: #38384b;
$grey: #777782;
$light-grey: #f1f1f1;
$off-white: #f9f9fb;
$white: #ffffff;
$font-family: Lato, sans-serif;

$colors: 
  "white" $white,
  "blue" $blue,
  "yellow" $yellow,
  "green" $green,
  "red" $red,
  "black" $black,
  "dark-grey" $dark-grey,
  "grey" $grey,
  "light-grey" $light-grey,
  "off-white" $off-white;

$weights: (100, 300, 400, 700, 900);
$aligns: (left, center, right);
$font-sizes: (32, 24, 18, 16, 14, 12, 10);

$radius: 3px;
$default-size: 14px;
$default-weight: 300;

$box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
$default-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
$transition: all 0.3s linear;


$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$container-tablet: (720px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;

$container-desktop: (940px + $grid-gutter-width) !default;
$container-md:$container-desktop !default;

$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
