<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="px16 pull-left weight400 grey-color"><i class="icon-heart-filled red-color"></i> Made with Love</p>
        <p class="px12 grey-color pull-right">&copy; 2018 All rights are reserved to <span class="weight700">xmeter.in</span></p>
      </div>
    </div>
  </div>
</footer>
