<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#0a0a1f" />
  @if(global && global.title)
  <title>{{global.title}} &mdash; xmeter&mdash; Performance testing made easy&trade;</title>
  @else
  <title>xmeter &mdash; Performance testing made easy&trade;</title>
  @endif

  <link rel="stylesheet" type="text/css" href="/dist/css/page.min.css" />

  <link rel="icon" href="/dist/img/icon-32x32.png" sizes="32x32" />
  <link rel="icon" href="/dist/img/icon-48x48.png" sizes="48x48" />
  <link rel="icon" href="/dist/img/icon-96x96.png" sizes="96x96" />
  <link rel="icon" href="/dist/img/icon-144x144.png" sizes="144x144" />

  <meta name="title" content="xmeter" />
  <meta name="description" content="Performance testing made easy" />
</head>
<body>
@include('page.element.header')
@!section('content')
@include('page.element.footer')
<script src="/dist/js/page.min.js" type="text/javascript"></script>
</body>
</html>
